In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.impute import SimpleImputer

In [5]:
df = pd.read_csv(r'C:\Users\Elizabeth\Documents\Data Analytics\course\TERM4\EN_APEI-Can-Prov_Terr.csv', encoding = 'latin1')
df.head()

,Index,Region,Source,Sector,Subsector,Is it a total,Year,TPM (t),PM10 (t),PM25 (t),...,Pb (kg),Cd (kg),Hg (kg),D/F (gTEQ),B(a)p,B(b)f,B(k)f,"I(1,2,3-cd)p",PAH (kg),HCB (g)
0,1.0,AB,Ore and Mineral Industries,NaN,NaN,y,1990.0,27838.262007,8171.573406,2874.894219,...,416.163534,5.772593,92.824010,0.002173,0.407351,1.425729,0.505794,0.407351,2.746226,NaN
1,1.0,BC,Ore and Mineral Industries,NaN,NaN,y,1990.0,24263.863642,11296.732082,6158.367847,...,57.772251,1.846344,3084.899405,0.000143,9.164659,12.693411,12.110903,5.062677,39.031650,NaN
2,1.0,Unspecified,Ore and Mineral Industries,NaN,NaN,y,1990.0,NaN,NaN,NaN,...,942553.747399,78483.801189,NaN,42.093600,26870.500000,25789.000000,16893.400000,10092.900000,79645.800000,5466.35
3,1.0,MB,Ore and Mineral Industries,NaN,NaN,y,1990.0,10781.344640,6530.918616,3287.360693,...,28.563421,0.525974,19959.679177,0.000143,0.037110,0.129885,0.046078,0.037110,0.250183,NaN
4,1.0,NB,Ore and Mineral Industries,NaN,NaN,y,1990.0,4856.683941,1529.098805,651.456258,...,18.294893,0.949639,121.556350,0.000066,0.099055,0.346693,0.122993,0.099055,0.667797,NaN

In [6]:
colnames = df.columns
colnames

Index(['Index', 'Region', 'Source', 'Sector', 'Subsector', 'Is it a total',
       'Year', 'TPM (t)', 'PM10 (t)', 'PM25 (t)', 'SOX (t)', 'NOX (t)',
       'VOC (t)', 'CO (t)', 'NH3 (t)', 'Pb (kg)', 'Cd (kg)', 'Hg (kg)',
       'D/F (gTEQ)', 'B(a)p', 'B(b)f', 'B(k)f', 'I(1,2,3-cd)p', 'PAH (kg)',
       'HCB (g)'],
      dtype='object')

In [7]:
df.rename(columns = {'Is it a total':'total', 'TPM (t)':'TPM', 'PM10 (t)':'PM10', 'PM25 (t)':'PM25', 'SOX (t)':'SOX',
                    'NOX (t)':'NOX', 'VOC (t)':'VOC', 'CO (t)':'CO', 'NH3 (t)':'NH3', 'Pb (kg)':'Pb', 'Cd (kg)':'Cd',
                    'Hg (kg)':'Hg','D/F (gTEQ)':'DF', 'B(a)p':'Bap', 'B(b)f':'Bbf', 'B(k)f':'Bkf', 'I(1,2,3-cd)p':'Ip', 
                     'PAH (kg)':'PAH', 'HCB (g)':'HCB'}, inplace = True)

In [8]:
df.dtypes

Index        float64
Region        object
Source        object
Sector        object
Subsector     object
total         object
Year         float64
TPM          float64
PM10         float64
PM25         float64
SOX          float64
NOX          float64
VOC          float64
CO           float64
NH3          float64
Pb           float64
Cd           float64
Hg           float64
DF           float64
Bap          float64
Bbf          float64
Bkf          float64
Ip           float64
PAH          float64
HCB          float64
dtype: object

In [7]:
df.shape

(66390, 25)

In [9]:
#change type of Index and Year from float64 and object respectively to int32
df['Index'] = df['Index'].astype('int')
df['Year'] = df['Year'].astype('int')
df.dtypes

Index          int32
Region        object
Source        object
Sector        object
Subsector     object
total         object
Year           int32
TPM          float64
PM10         float64
PM25         float64
SOX          float64
NOX          float64
VOC          float64
CO           float64
NH3          float64
Pb           float64
Cd           float64
Hg           float64
DF           float64
Bap          float64
Bbf          float64
Bkf          float64
Ip           float64
PAH          float64
HCB          float64
dtype: object

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66390 entries, 0 to 66389
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Index      66390 non-null  int32
 1   Region     66390 non-null  object
 2   Source     66390 non-null  object
 3   Sector     61320 non-null  object
 4   Subsector  54180 non-null  object
 5   total      12210 non-null  object
 6   Year       66390 non-null  int32
 7   TPM        34032 non-null  float64
 8   PM10       33960 non-null  float64
 9   PM25       34002 non-null  float64
 10  SOX        24136 non-null  float64
 11  NOX        25801 non-null  float64
 12  VOC        30948 non-null  float64
 13  CO         25757 non-null  float64
 14  NH3        22634 non-null  float64
 15  Pb         13164 non-null  float64
 16  Cd         11829 non-null  float64
 17  Hg         20301 non-null  float64
 18  DF         14676 non-null  float64
 19  Bap        14065 non-null  float64
 20  Bbf        14004 non-null  float64
 21  Bkf        13603 non-null  float64
 22  Ip         13859 non-null  float64
 23  PAH        13457 non-null  float64
 24  HCB        7330 non-null   float64
dtypes: float64(18), int32(2), object(5)
memory usage: 12.2+ MB

In [11]:
df1 = df.describe()
print(round(df1, 2))

          Index      Year          TPM        PM10        PM25         SOX  \
count  66390.00  66390.00     34032.00    33960.00    34002.00    24136.00
mean      79.54   2004.50     84379.95    26902.43     5663.52    10932.16
std       45.63      8.66    833510.51   260958.74    51617.32    82698.84
min        1.00   1990.00         0.00        0.00        0.00        0.00
25%       40.00   1997.00        10.40        7.26        4.35        1.48
50%       80.00   2004.50       149.95      101.47       60.49       45.89
75%      119.00   2012.00      1606.78      951.23      519.88      811.31
max      158.00   2019.00  28912967.21  8880675.05  1690838.10  3004321.65

              NOX         VOC           CO        NH3          Pb        Cd  \
count    25801.00    30948.00     25757.00   22634.00    13164.00  11829.00
mean     10775.76     9748.23     39647.74    2677.07     4968.40    406.64
std      85643.38    84028.98    331672.54   20532.46    43118.38   3740.88
min          0.00        0.00         0.00       0.00        0.00      0.00
25%         27.18       14.12        32.37       0.71        1.00      0.12
50%        250.77      191.99       437.68       8.43       21.65      2.58
75%       2351.78     1518.43      3806.23      91.87      179.66     20.98
max    2758843.76  2943101.77  11547434.59  503518.00  1213345.09  88110.17

             Hg        DF       Bap       Bbf       Bkf        Ip        PAH  \
count  20301.00  14676.00  14065.00  14004.00  13603.00  13859.00   13457.00
mean      74.12      1.55    394.34    541.92    275.86    286.23    1548.90
std      768.11     10.73   2845.63   3944.19   2237.29   1891.63   10932.08
min        0.00      0.00      0.00      0.00      0.00      0.00       0.00
25%        0.00      0.00      0.01      0.01      0.01      0.01       0.06
50%        0.97      0.01      0.40      0.38      0.22      0.24       1.56
75%       13.33      0.22     14.24     12.24      5.37      9.71      44.73
max    34269.09    435.39  82272.29  94218.20  65631.58  52994.34  293973.15

            HCB
count   7330.00
mean     745.03
std     4029.46
min        0.00
25%        0.00
50%        2.34
75%      221.46
max    98181.97